body{
    background-color: black;
    color: violet;
    text-align: center
}
h1{
    font-size: 80px
}
h2{
    font-size: 40px
}
h3{
    font-size: 30px
}
p{
    max-width: 500px;
    margin-left: 500px
}

ul{
    max-width: 500px;
    margin-left: 475px 
}

a:link {
    color:lime
}
a:visited{
    color: green
}
