body{
    background-color: black;
    color: violet;
    text-align: center;
    background-image: url('images/landscape1.jpg');
    background-size: cover;
}
#NavBar {
    display:flex;
    justify-content: space-around;
    max-width: 900px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: black;
    list-style-type: none; 
    li{
        display: inline;
    }
}

.main_section {
    background-color: black;
    max-width: 900px;
    margin-left: 300px;
    padding-bottom: 50px;
}

.standard {
    padding: 0%;
    margin-left: 150px;
    margin-right:150px;
}
.standard li {
    text-align: justify;
}

h1{
    font-size: 80px
}
h2{
    font-size: 40px
}
h3{
    font-size: 30px
}
p{
    margin-left: 50px;
    margin-right: 50px;
    text-align:justify;
}



a:link {
    color:lime
}
a:visited{
    color: green
}
